@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap");
@import "_colours";

// Include any default variable overrides here (though functions won't be available)
// List of all variables https://github.com/twbs/bootstrap/blob/v5.1.3/scss/_variables.scss

@import "~bootstrap/scss/bootstrap";

// Then add additional custom code here
* {
  font-family: "Libre Bodoni", serif !important;
}

main {
  min-height: 80vh;
}

.hero-img {
  object-fit: cover;
  max-height: 350px;
  width: 100%;
}

.featured-card-img {
  object-fit: cover;
  min-height: 100%;
}

/*
  Category Page
*/

.masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.category-card-img {
  object-fit: cover;
  max-height: 150px;
  width: 100%;
}

/*
  Article Page
*/

.article-hero-img {
  object-fit: cover;
  max-height: 300px;
  width: 100%;
}

.article-headline {
  font-size: 80px;
}

.article-body p {
  font-size: 20px;
}
